{% extends "base.html.twig" %}

{% block title %}
    POSTS
{% endblock %}

{% block content %}

    LISTING POSTS

    <ul>
        {% for post in posts %}
            <li>{{ post.title }}</li>
        {% endfor %}

    </ul>

{% endblock %}